/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Variáveis CSS */
:root {
    /* Cores */
    --first-color: #F3F5FC;
    --second-color: #0A3871;
    --third-color: #FFFFFF;
    --fourth-color: #495057;
    --fifth-color: #D8DFE8;
    --sixth-color: #343A40;

    /* Fontes */
    --font-page: 'Inter', sans-serif;
}



/* Resetando os espaçamentos */
*{
    margin: 0;
    padding: 0;
}

/* Fomatando toda tag <a> que estiver no doc. html */

a {
    text-decoration: none;
}

/*  Formatando o body */
body {
    background-color: var(--first-color);
    font-family: var(--font-page) ;
    height: 100%;
}

/*  Formatando o cabeçalho */
.header {
    padding: 1% 0 0 3%;
}

/* Formatando o container principal da página */
.container {
    padding: 3% 15% 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4%;
}

/* Formatando a 1 primeira section e todo o seu conteúdo */
.container__input {
    padding: 6% 1% 0 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 415px;
    width: 60%;
}

#container__input__text {
    width: 90%;
    height: 2rem;
    border: none;
    color: var(--second-color);
    background-color: var(--first-color);
    font-size: 24px;
    font-weight: 400;
}

#container__input__text:focus {
    outline: none;
    padding: 2%;
    border-radius: 0.5rem;
    background-color: var(--first-color);
    
}

#container__input__text::placeholder {
    color: var(--second-color);
    font-family: var(--font-page);
    font-size: 24px;

    background-color: var(--first-color);
}

.container__input__btnAndInfo {
    padding-top: 10%;
    width: 80%;
}


.container__input__btnAndInfo__info {
    display: flex;
    text-align: center;
    gap: 0.3125rem;
}

.container__input__btnAndInfo__info small {
    color: var(--fourth-color);
    font-size: 12px;
}

.container__input__btnAndInfo__btns {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 0;
    gap: 8px;
}

.btn {
    width: 60% ;
    padding: 0.75rem;
    border-radius: 15px;
    font-weight: 400;
    padding: 2.5%;
}

.btn:hover {
    box-shadow: 2px 2px 5px var(--fourth-color);
    font-weight: bold;
}

#encrypt {
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    color: var(--third-color);
}

#decrypt {
    border: 1px solid var(--second-color);
    background-color: var(--fifth-color);
    color: var(--second-color);
}

/* Formatando  a segunda section e todo seu conteúdo */
.container__output {
   background-color: var(--third-color);
   border-radius: 32px;
   width: 25%;
   padding: 15% 1%;
   align-items: center; 
   justify-content: space-between;
}

.container__output__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 95%;
    gap: 32px;
}

.container__output__content__img {
    width: 70%;
    margin: 0 auto;
}

.container__output__content__img img {
    width: 100%;
}

.container__output__content__msg {
    color: var(--sixth-color) ;
}

.container__output__content__msg h2{
    font-size: 1.4rem;
    text-align: center;
}

.container__output__content__msg p {
    font-size: 1rem;
    margin-top: 12px;
}

/* Formatando o rodapé e seu conteúdo  */
.footer {
    text-align: center;
    padding: 1% 16%;
    font-size: 24px;
    line-height: 32px;
    font-family: 700;
    color: var(--third-color);
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
}

.footer p {
    font-style: italic;
}

.footer__link {
    display: flex;
    gap: 16px;
}

.footer__link a {
    color: var(--third-color);
}
